#player_container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #3d3d5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pButton {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
#pButton:focus {
    outline:none;   
}
#pButton:hover {
    cursor:pointer;
}

.player_info {
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
    padding-right: 20px;
    border-right: solid rgb(126, 126, 126) 1px;
}

.timestamp {
    font-size: 12px;
    width: 30px;
    text-align: center;
}

.song_title {
    font-size: 12px;
    font-weight: bold;
    margin-left: 1em;
}

#timeline {
    width: 400px;
    height: 10px;
    background: rgb(158, 157, 157);
    border-radius: 15px;
}
#timeline:hover {
    cursor:pointer; 
}

#playhead {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 1px;
    background: black;
}