#project_view {
    background-image: linear-gradient(to bottom, #33334d, #1f1f2e 25%);
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    max-width: 800px;
    padding-bottom: 10px;
}

.header_item {
    font-size: 12px;
    /* flex: 25%; */
}

#branch {
    /* border: solid whitesmoke 1px; */
    border-radius: 3px;
    height: 60%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

#branch_dropdown {
    background-color: transparent;
    outline: none;
}

.song {
    /* border: solid salmon 2px; */
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 700px;
}

.song_play {
    flex: 5%;
    cursor: pointer;
}

.song_name {
    flex: 40%;
}

.song_time {
    flex: 15%;
}

.song_date {
    flex: 25%;
}

.song_filechange {
    flex: 15%;
}