/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Mukta', sans-serif;
  color: whitesmoke;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
  /* border: solid yellow; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button, .clickable {
  cursor: pointer;
}

.clickable {
  transition: 0.3s;
}

.clickable:hover {
  opacity: 1;
}

input, textarea {
  color: black;
  border-radius: 3px;
  border: none;
  outline: none;
}

section {
  padding: 20px;
}

select {
  background-color: transparent;
  outline: none;
}

#login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #33334d, #1f1f2e 25%);
}

#upload {
  color: whitesmoke;
}

#app-container {
  height: 100%;
}

#main {
  height: 100%;
  /* display: flex; */
  /* border: solid yellow 1px; */
}

.round-btn {
  outline: none;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10pt;
}

.submit-btn {
  background-color: #008eff;
}

.grow {
  transition: 0.2;
}

.grow:hover {
  transform: scale(1.1);
}

.no-decor {
  text-decoration: none;
}

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.top-left {
  position: absolute;
  top: 0;
  left: 0;
}