* {
  font-family: 'Mukta', sans-serif;
  color: whitesmoke;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
  /* border: solid yellow; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

button, 
.clickable {
  font-family: 'Mukta', sans-serif;
  color: whitesmoke;
  cursor: pointer;
}

.clickable {
  transition: 0.3s;
}

.clickable:hover {
  opacity: 1;
}

input, textarea {
  color: black;
  border-radius: 3px;
  border: none;
  outline: none;
}

section {
  padding: 20px;
}

select {
  background-color: transparent;
  outline: none;
}

#login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #33334d, #1f1f2e 25%);
}

#upload {
  color: whitesmoke;
}

#app-container {
  height: 100%;
}

#main {
  height: 100%;
  /* display: flex; */
  /* border: solid yellow 1px; */
}

.round-btn {
  outline: none;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  font-weight: bold;
  font-size: 10pt;
}

.submit-btn {
  background-color: #008eff;
}

.grow {
  transition: 0.2;
}

.grow:hover {
  transform: scale(1.1);
}

.no-decor {
  text-decoration: none;
}

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fade-ends {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 5%, black 95%, transparent);
}

$sizes: 0, 2, 4, 8, 12, 14, 16, 20, 24, 32, 40, 48, 64, 96, 128, 256;

@each $size in $sizes {
  .top-right-#{$size} {
    position: absolute;
    top: #{$size}px;
    right: #{$size}px;
  }
  
  .top-left-#{$size} {
    position: absolute;
    top: #{$size}px;
    left: #{$size}px;
  }

  .top-right-n-#{$size} {
    position: absolute;
    top: -#{$size}px;
    right: -#{$size}px;
  }
  
  .top-left-n-#{$size} {
    position: absolute;
    top: -#{$size}px;
    left: -#{$size}px;
  }
}