.Modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 3px;
  background-color: #4e4f52;
  width: 400px;
  max-height: 450px;
  padding: 20px;
  z-index: 3;

  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}