#loading-project {
  flex: 5;
  min-width: 200px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project {
  flex: 5;
  min-width: 200px;
  padding-left: 100px;
  padding-right: 100px;

  #file {
    display: none;
  }

  #header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px gray;
    padding-bottom: 10px;

    #heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 60px;
    }
    
    .branch-dropdown {
      width: 200px;
    }

    .header-item {
      margin-right: 20px;
    }
  }

  #add-songs-modal {
    #file-list {
      overflow: auto;
      margin: 15px 0;
    }
  }
}