#sidebar {
  flex: 1;
  max-width: 250px;
  min-width: 250px;
  position: relative;
  // border: solid 1px;

  #top {
    border-bottom: solid gray 1px;
    padding-bottom: 10px;
  }

  #browser {
    overflow: auto;
    height: 70%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    // border: solid orange 1px;
  }
}