#songs {
  // border: 1px solid white;
  height: 100%;

  .song {
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 700px;

    .play {
      flex: 5%;
      cursor: pointer;
    }

    .name {
      flex: 35%;
    }

    .time {
      flex: 15%;
    }

    .date {
      flex: 25%;
    }

    .filechange {
      flex: 10%;
    }
  }  
}